
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-titel{
    color: black;
    font-size: 45px;

}
.nav-titel span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 50px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #474747;
}
nav ul li button{
    background-color: #FD6E0A;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
}